* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size:1.2em;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.top-header{
  /*background-color: #FFCE0B;*/
  background-color: #ddd;
  color: black;
  padding : 10px 10px 10px 10px;  
  width: 100%;
  top:0;   
  font-size:1.4em;
  font-weight:bold;
} 

.lbl{
  background-color: #e7e7e7;
  width:100px;
  font-size: 1.2em;
  display:inline-block;
}

table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
 padding: 3px;
 text-align: left;
 border-bottom: 1px solid #ddd;
 font-size: 1em;
}

tr:hover {background-color:#f5f5f5;}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;} 
 
.btn {
background-color: #4CAF50;
border: none;
color: #FFFFFF;
padding: 7px 32px;
text-align: center;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
margin: 2px 0 !important;
text-decoration: none;
font-size: 1.4em;
cursor:pointer;
width: 100%;
opacity: 0.9;
}

.btn:hover {
  opacity:1;
}

.btn1 {background-color: #4CAF50;} /* Green */
.btn2 {background-color: #008CBA;} /* Blue */
.btn3 {background-color: #f44336;} /* Red */ 
.btn4 {background-color: #e7e7e7;color:black;} /* Grey */ 
.btn5 {background-color: #555555;} /* Orange */

.btn1:hover {background-color: #4CAF50;}
.btn2:hover {background-color: #008CBA;}
.btn3:hover {background-color: #f44336;}
.btn4:hover {background-color: #e7e7e7;color:black;}
.btn5:hover {background-color: #555555;}

.font1 {font-size:10px;}
.font2 {font-size:12px;}
.font3 {font-size:16px;}
.font4 {font-size:20px;}
.font5 {font-size:24px;}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}
