  <!DOCTYPE html>
  <html lang="en">
  <head>
  <title>직원 등록</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
  </head>
  <body> 
  <div class="top-header">직원 신규 등록</div>

   {%- for category, message in get_flashed_messages(with_categories = true) %}  
     <div class = "alert alert-danger">  
        {{ message }}  
     </div>  
   {%- endfor %}  

     <form action = "{{ request.path }}" method = "post" enctype="multipart/form-data" id="frm">  
           <label for = "emp_name">이름</label>
           <input type = "text" name = "emp_name" placeholder = "이름"  /><br>  

           <label for = "joindate">입사일</label>
           <input type = "text" name = "joindate" placeholder = "입사일" /><br>  

           <label for = "company">소속</label>
           <input type = "text" name = "company" placeholder = "company" /><br>  

           <label for = "business">상담 업무</label>
           <input type = "text" name = "business" placeholder = "상담가능영역" /><br>  

           <label for = "workarea">상담 지역</label>
           <input type = "text" name = "workarea" placeholder = "상담가능지역" /><br>  
           
           <label>사진</label>
           <div class="form-group">                        
              <input type="file" class="custom-file-input" name="emp_img" id="emp_img">
           </div>
 
           <button type="button" class="btn btn1" style="width:140px;height:40px;font-size:1em" onclick="document.getElementById('frm').submit();">저장</button>&nbsp;
           <button type="button" class="btn btn5" style="width:140px;height:40px;font-size:1em" onclick="location.href='{{ url_for('main') }}'">홈</button>
        </form>  

  </form>


  
  
  </body>
  </html>
