<!DOCTYPE html>
  <html lang="en">
  <head>
  <title>Json 테스트 페이지 </title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
  </head> 
	<script>
	function onSubmit( form ){
	  var data = JSON.stringify( $(form).serializeArray() ); //  <-----------
	//alert(data)
	  //console.log( data );
	 // return false; //don't submit
	}
</script>

<body>
<div class="top-header">JSON 전송 테스트 </div>

<form onsubmit='return onSubmit(this)' action="/test" method="POST" enctype='application/json' id="frm" >
<textarea cols="100" rows="20"  name="data", id="data">
	{
	 "userRequest": {
	    "timezone": "Asia/Seoul",
	    "params": {
	      "sys_location": "여의도,마포,공덕",
	      "sys_number": "123",
	      "user_name" : "홍길동"
	    },
	    "block": {
	      "id": "<블록 id>",
	      "name": "<블록 이름>"
	    },
	    "utterance": "<사용자 발화>",
	    "lang": "kr",
	    "user": {
	      "id": "<사용자 botUserKey>",
	      "type": "botUserKey",
	      "properties": {
	        "plusfriendUserKey": "<카카오톡 채널 사용자 id>"
	      }
	    }
	  },
	  "contexts": [],
	  "bot": {
	    "id": "<봇 id>",
	    "name": "<봇 이름>"
	  },
	  "action": {
	    "name": "<스킬 이름>",
	    "clientExtra": null,
	    "params": {},
	    "id": "<스킬 id>",
	    "detailParams": {}
	  }
	} 
</textarea>
  	<br>
  	<button type="button" class="btn btn5"  style="width:140px;height:40px;font-size:1em" onclick="document.getElementById('frm').submit();">전송</button>&nbsp;
  	<button type="button" class="btn btn4"  style="width:140px;height:40px;font-size:1em" onclick="location.href='{{ url_for('main') }}'">홈</button>
  
</form>
</body>

</html>
