<!DOCTYPE html>  
<html lang = "en">  
   <head><title>직원 리스트</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />

   <script>
   function onSubmit( form ){
     var formname= form.name;
     /*if("ratingform" == formname ){
         alert(form.name);
     }else{
         alert(form.name);
     }*/
     var data = JSON.stringify( $(form).serializeArray() ); 
    // return false; //don't submit
   }
   </script>

 </head>  
   <body>  
      <div class="top-header"><a href = "{{ url_for('main') }}">직원 리스트</a></div>
 
       {%- for message in get_flashed_messages() %}  
         {{ message }}  
       {%- endfor %}  
          
      <table>  
         <thead>  
            <tr>  
               <th>emp_name</th>  
               <th>joindate</th>  
               <th>company</th>  
               <th>business</th>  
               <th>workarea</th>  
               <th>emp_img</th>  
               <th>rating</th> 
            </tr>  
         </thead>  
         
         {% for row in rows %}
            <tr>
               <td>{{row["emp_name"]}}</td>
               <td>{{row["joindate"]}}</td>
               <td>{{ row["company"]}}</td>
               <td>{{ row["business"]}}</td>
               <td>{{row['workarea']}}</td> 
               <td><img src="{{row['emp_img']}}" align="middle" width="100", height="100" />
               </td> 
               <td>{{row['rating']}}</td>                
            </tr>
         {% endfor %}
      </table>

      <!-- Select/Insert -->
      <br><br>
      <div class="top-header">평점 주기&nbsp;(/rating)</div>      
      <form action="/rating" onsubmit='return onSubmit(this)' method="POST" enctype='application/json' name="ratingform">        
        <table>
            <tr>
               <td width="10%">emp_name:</td>
               <td><input type="text" name='emp_name' value='홍길동'></td>

               <td width="10%">rating: </td>
               <td><input  type="text"  name='rating' value='1'></td>
               <td width="20%"><button type='submit' class="btn btn4" style="width:140px;font-size:1em">평점주기</button></td>
            </tr>            
        </table>
      </form>

      <br>
      <div class="top-header">검색&nbsp;(/workarea)</div>
      <form action="/get_workarea" onsubmit='return onSubmit(this)' method="POST" enctype='application/json' name="searchform">        
        <table>
            <tr>
               <td width="10%">workarea:</td>
               <td><input type="text" name='workarea' value='여의도'></td>
               <td width="20%"><button type='submit' class="btn btn4" style="width:140px;font-size:1em">찾기</button></td>
            </tr>            
        </table>
      </form>


      <br>
      <button type="button" class="btn btn1" style="width:140px;height:40px;font-size:1em" onclick="location.href='{{ url_for('addEmployee') }}'">신규등록</button>&nbsp;
      <button type="button" class="btn btn5" style="width:140px;height:40px;font-size:1em" onclick="location.href='{{ url_for('main') }}'">홈</button>
   </body>  
</html>  
