<!DOCTYPE html>  
<html lang = "en">  
<head><title>Home</title>
 <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
</head>
<body>
	<button type="button" class="btn btn1" onclick="location.href='{{ url_for('addEmployee') }}'">신규등록</button><br>
	<button type="button" class="btn btn2" onclick="alert('준비중');return false;">상담이력</button><br>
	<button type="button" class="btn btn3" onclick="alert('준비중');return false;">전체순위</button><br>
	<button type="button" class="btn btn4" onclick="location.href='{{ url_for('list_employees') }}'">등록리스트</button><br>
	<button type="button" class="btn btn5" onclick="location.href='{{ url_for('list_all') }}'">등록리스트 Json</button><br>
	<button type="button" class="btn btn5" onclick="location.href='{{ url_for('json_test') }}'">Json Test</button><br>

</body>
</html>

